@import "bootstrap.css";

body {
	color:black;
	background-color:white;
	padding-top: 70px;
}

.clock {
	border: 1px black solid;
	margin: 10px;
	padding: 10px;
	border-radius: 25px;
}

.time {
	font-family: 'Orbitron', sans-serif;
	font-size: 2em;
	text-align: center;
}

.city {
	font-size: 1.5em;
	text-align: right;
}

