<div class="clock">
    <div class="city"><span class="glyphicon glyphicon-time"></span> {{ clock.city }}</div>
    <div class="time">{{ clock.formattedTime }}</div>
    <div class="date">{{ clock.formattedDate }}</div>
    <div class="country">{{ clock.country }}</div>
</div>