{% extends 'layout.html.twig' %}
{% block content %}
    <div class="container">
        <div class="row">
                <div class="col-xs-12">
                    <p>List of treasures</p>
                    <ul>
                        <li><a href="{{ path('clock_world') }}">Meeting Time Converter</a></li>
                        <li><a href="{{ path('timetables') }}">Time Tables</a></li>
                        <li><a href="{{ path('pi_leibniz') }}">Pi Calculation</a></li>
                    </ul>
                </div>
        </div>
    </div>
{% endblock content %}